html {
  font-size: 60%;
}

body {
  margin: 1rem;
}

body * {
  border-radius: 10px;
}

main > div {
  margin: 1rem;
}

button#newQuote {
  width: 100%;
  background-color: rgb(231, 220, 200);
  border: none;  
  font-size: 6rem;
  line-height: 12rem;
  font-family: sans-serif;
  padding: 1rem;
  cursor: pointer;

}

button#newQuote:focus {
  outline: none;
  border: black 1px solid;
}


figure {
  visibility: hidden;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(231, 231, 231);

}

figure * {
  margin: 0
}

figure blockquote {
  font-size: 8rem;
  line-height: 16rem;
  font-family: sans-serif;
  padding: 2.5rem;
}

figcaption {
  font-family: serif;
  font-size: 5rem;
  line-height: 20rem;
  margin-left: 2.5rem;
}

