html {
  font-size: 60%;
}

body {
  margin: 1rem;
}

body * {
  border-radius: 10px;
}

main > div {
  margin: 1rem;
}

button#newQuote {
  width: 100%;
  background-color: rgb(231, 220, 200);
  border: none;
  margin-left: 1rem;
  font-size: 2rem;
  line-height: 4rem;
  font-family: sans-serif;
  padding: 1rem;
  cursor: pointer;

}

button#newQuote:focus {
  outline: none;
  border: black 1px solid;
}


figure {
  visibility: hidden;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(231, 231, 231);

}

figure * {
  margin: 0
}

figure blockquote {
  font-size: 8rem;
  line-height: 16rem;
  font-family: sans-serif;
  padding: 2rem;

}

figcaption {
  font-family: serif;
  font-size: 2rem;
  line-height: 8rem;
  margin-left: 2rem;

}

@media screen and (max-width: 62rem) {
  button#newQuote {
    font-size: 3rem;
    line-height: 6rem;
    width: calc(100vw - 4rem);
  }

  figure blockquote {
    font-size: 5rem;
    line-height: 10rem;
    padding: 4rem;
  }

  figcaption {
    font-size: 4rem;
    line-height: 16rem;
    margin-left: 4rem;
  }
}
