:root {
  --color: white;
}

body {
  margin: 20px;

  * {
    border-radius: 10px;
  }

  button#newQuote {
    background-color: beige;
    border: none;
    margin-left: 10px;
    font-family: sans-serif;
    padding: 15px;
    cursor: pointer;
  }

  figure {
    visibility: hidden;
    margin: 10px;
    padding: 10px;

    background-color: darken(white, 10%);

    * {
      margin: 0
    }

    blockquote {
      margin: 0;

      p {
        font-family: sans-serif;
        padding: 20px;
      }

    }

    figcaption {
      margin-left: 30px;
    }

  }
}

@media screen and (min-width: 400px) {
  body {
    button#newQuote {
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
        background-color: lighten(beige, 2%);
      }
    }

    blockquote {
      p {
        font-size: 3rem;
        line-height: 6rem;
      }
    }

    figcaption {
      font-size: 2.5rem;
      line-height: 4rem;
    }
  }
}

@media screen and (max-width: 400px) {
  body {
    background-color: var(--color);
    button#newQuote {
      width: calc(100vw - 60px);
    }

    blockquote {
      p {
        text-align: start;
        font-size: 1.75rem;
        line-height: 3.5rem;
      }
    }

    figcaption {
      font-size: 1.25rem;
      line-height: 4rem;

    }
  }
}